

body {
  background-color: rgb(203, 235, 23); 
  font-family: Arial, sans-serif;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: silver;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  
}

input.error-input,
select.error-input,
textarea.error-input {
  border-color: red;
}

input[type="submit"],
input[type="reset"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #45a049;
  
}

.error {
  color: red;
  font-size: 12px;
}

.success {
  color: green;
  font-size: 14px;
}


.form-group {
    display: inline-block;
    margin-right: 0px; 
}
.form-group1 {
    display: block;
    margin-right: 0px; 
}